<div id="atcmodal" class="modal">
  <div class='modal-content'>
      <span class="close">&times;</span> 
      <i class=" fa fa-check-circle fa-5x" /></i>
      <p>Your product was added to cart successfully!</p>
      <div class="actn">
        <a class='btn' href="/cart">View cart</a>
        
      </div>
      <div class="actn">
        <a class='btn shut'>Continue shopping</a>
      </div>
    </div>
</div>


<div id="qsmodal" class="modal">
  <div class='modal-content'>
    <span class="close">&times;</span>
    <div class="qs-content">
      &nbsp;
    </div>
  </div>
</div>
