<h3>{{ 'sidebar.general.categories' | t }}</h3>
<ul class="cat-nav withouraccordion" role="navigation">
  {% for link in cat-nav.links %}
    {% assign child_list_handle = link.title | handleize %}
      <li {% if link.active %}class="cat-nav--active"{% endif %}>
        <a href="{{ link.url }}" class="cat-nav__link">{{ link.title }}</a>
      </li>
  {% endfor %}
</ul>

