<span class=" mobile-nav__sublist-expand">
  <span class="" aria-hidden="true">
	<img class="Image--lazyLoad Image--fadeIn" data-src="{{ 'nav-plus.png' | asset_url }}">
	{% comment %} {{ 'nav-plus.png' | asset_url | img_tag}} {% endcomment %}
	</span>
</span>
<span class=" mobile-nav__sublist-contract">
  <span class="" aria-hidden="true">
	<img class="Image--lazyLoad Image--fadeIn" data-src="{{ 'nav-minus.png' | asset_url }}">
	{% comment %} {{ 'nav-minus.png' | asset_url | img_tag}} {% endcomment %}
	</span>
</span>
