<div id="prodslider" class="flexslider">
  <div class="slides">
    {% for image in product.images %}
    <div >
      {% include 'responsive-image' with
            image: image,
            max_width: 500,
            max_height: 500
          %}
    </div>
    {% endfor %}
  </div>
</div>

<div id="prodcarousel" class="flexslider small--hide medium--hide">
  <ul class="slides">
    {% for image in product.images %}
      <li >
        <a data-lightbox="prodimages"  href="{{ image | img_url: '1024x1024' }}">
        {% include 'responsive-image' with
            image: image,
            max_width: 100,
            max_height: 100
          %}
        </a>
      </li>
    {% endfor %}
  </ul>
</div>


<script>
  $(window).load(function() {
    $('#prodcarousel').flexslider({
      animation: "slide",
      controlNav: false,
      animationLoop: false,
      slideshow: false,
      itemWidth: 100,
      itemMargin: 5,
      asNavFor: '#prodslider'
    });
    $('#prodslider').flexslider({
      animation: "slide",
      controlNav: false,
      directionNav: true,
      animationLoop: false,
      slideshow: true,
      slideshowSpeed: 3000,
      allowOneSlide: false,
      sync: "#prodcarousel",
      selector: '.slides > div',
      useCSS: false,
      pauseOnHover: true
    });
  });
</script>