<form action="/search" method="get" class="searchbar" role="search">
  <i class="icon searchbaricon" aria-hidden="true"></i>
  <input type="search" name="q" value="{{ search.terms | escape }}" placeholder="search the site.." class="searchinput" />
  <input type="hidden" name="type" value="product" />    
  
</form>