<div class="bmg_brands">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2>{{ section.settings.bmg_brands_heading }}</h2>
                <p>{{ section.settings.bmg_brands_text }}</p>
            </div>
        </div>
        <div class="row">
            {% for block in section.blocks %}
                <div class="col-md-3">
                    <div class="bmgb_body">
                        <img src="{{ block.settings.brand_logo | img_url: 'master' }}"> 
                        <h3>{{ block.settings.brand_text }}</h3>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>

{% schema %}
  {
    "name": "BMG Brands",
    "settings": [
        {
            "type": "text",
            "id": "bmg_brands_heading",
            "label": "BMG Brands Heading"
        },
        {
            "type": "text",
            "id": "bmg_brands_text",
            "label": "BMG Categories Paragraph"
        }
    ], 
    "blocks": [
        {
            "name": "BMG Brand Logos",
            "type": "bmg_brand_logos",
            "settings": [
                {
                    "type": "image_picker",
                    "id": "brand_logo",
                    "label": "BMG Brand Logo"
                },
                {
                    "type": "text",
                    "id": "brand_text",
                    "label": "BMG Brand Text"
                }
            ]
        }
    ],
    "presets": [
      {
        "name": "BMG Brands",
        "category": "2021 - BMG"
      } 
    ]
  }
{% endschema %}