<div class="product_page_v2_main">
    <div class="ppv2_product_summary">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="ppv2_gallery">

                    </div>
                    <div class="ppv2_gallery_links">

                    </div>
                </div>
                <div class="col-md-6">
                    <div class="ppv2_productInfo">

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="ppv2_product_specs">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="ppv2_tabs">
                        <div class="ppv2_tab_nav">
                            
                        </div>
                        <div class="ppv2_tab_content">
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>