/** GENERAL STYLING **/


/** HEADER STYLING **/

.bmg_header .container {
    max-width: 73.958vw;
    width: 100%;
}

.bmg_header .bmgh_top_header {
    padding-top: .5vw;
    padding-bottom: .5vw;
}

.bmg_header .bmg_h_top a {
    font-size: 0.729vw;
}

.bmg_header .bmg_h_top a > img {
    width: 0.729vw;
    height: 0.729vw;
    object-fit: contain;
}


.bmg_header .bmg_h_top .bmgh_top_col:first-child a {
    margin-right: 2.5vw;
}

.bmg_header .bmg_h_top .bmgh_top_col:last-child {
    display: flex;
    justify-content: right;
}

.bmg_header .bmg_h_top .bmgh_top_col:last-child a {
    padding-left: 2.5vw;
}

.bmg_header .bmgh_top_header {
    padding-top: .5vw;
    padding-bottom: .5vw;
}

.bmg_header .bmg_h_top a {
    font-size: 0.729vw;
}

.bmg_header .bmg_h_top a > img {
    width: 0.729vw;
    height: 0.729vw;
    object-fit: contain;
}


.bmg_header .bmg_h_top .bmgh_top_col:first-child a {
    margin-right: 2.5vw;
}

.bmg_header .bmg_h_top .bmgh_top_col:last-child {
    display: flex;
    justify-content: right;
}

.bmg_header .bmg_h_top .bmgh_top_col:last-child a {
    padding-left: 2.5vw;
}

.bmgh_nav_header .row.bmg_h_main {
    display: flex;
    align-items: center;
}

.bmgh_nav_header .bmgh_m_logo_search img {
    max-width: 6.510vw;
    margin-right: 1.5vw;
}

.bmgh_nav_header .bmgh_m_logo_search {
    display: flex;
    align-items: center;
}

.bmgh_nav_header .bmgh_m_icons ul {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-bottom: 0;
}

.bmgh_nav_header .bmgh_m_icons ul li a {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    align-content: center;
    text-align: center;
    font-size: 0.729vw;
}

.bmgh_nav_header .bmgh_m_icons ul li a img {
    height: 1.042vw;
    width: 1.042vw;
    object-fit: contain;
}

.bmgh_nav_header .bmgh_m_icons ul li {
    padding-left: 1.5vw;
}

.bmgh_bot_header {
    background: #4C5DC9;
    padding-top: .5vw;
    padding-bottom: 1vw;
}

.bmgh_bot_header a {
    color: #fff;
    font-size: 0.833vw;
    padding-right: 1.5vw;
}

.bmgh_nav_header .row.bmg_h_main {
    display: flex;
    align-items: center;
    padding-bottom: 1vw;
}

.bmgh_nav_header .bmgh_m_logo_search .searchbar input {
    max-width: 40.625vw;
    width: 100%;
    background: #F0F0FD;
    border: none;
    padding-left: 1.5vw;
    border-radius: 4px;
    height: 2.083vw;
}

.bmgh_nav_header .bmgh_m_logo_search .bmgh_search_form {
    max-width: 40.625vw;
    width: 100%;
}

.bmgh_nav_header .bmgh_m_logo_search a {
    line-height: 1;
}

.bmgh_nav_header .bmgh_m_logo_search .bmgh_search_form form {
    margin-bottom: 0;
    position: relative;
}

.bmgh_nav_header .bmgh_m_logo_search .bmgh_search_form form .searchbaricon {
    position: absolute;
    top: 0;
    height: 2.083vw;
    width: 2.083vw;
    bottom: 0;
    right: 0;
    color: #fff;
    background: #4c5dc9;
    fill: #fff;
    background-image: url(https://cdn.shopify.com/s/files/1/0264/9633/5946/files/zoom-2.png?v=1637233263);
    background-size: 0.938vw;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 4px;
}
/********************************************************
HOMEPAGE STYLING
********************************************************/

/** HOMEPAGE BANNER **/

.bmg_banner {
    position: relative;
    background-size: cover;
}

.bmg_banner::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    background: rgba(88,88,88,0.33);
}

.bmg_banner .container {
    max-width: 73.958vw;
    width: 100%;
}

.bmg_banner .container .row {
    min-height: 18.750vw;
    display: flex;
    align-items: center;
}

.bmg_banner h1 {
    margin: 0;
    font-weight: 100;
    color: #fff;
    font-size: 2.5vw;
    font-family: 'AvenirNext-Bold';
    margin-bottom: .5vw;
    line-height: 1;
}

.bmg_banner p {
    font-size: 0.833vw;
    color: #fff;
    max-width: 27.083vw;
    margin-bottom: .5vw;
}

.bmg_banner .bmg_button {
    max-width: 5.729vw;
    width: 100%;
    min-height: 2.500vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #4C5DC9;
    font-size: 0.729vw;
    color: #fff;
    border-radius: 4px;
}

/** HOMEPAGE CATEGORIES **/

.bmg_categories {
    padding-top: 2.344vw;
    padding-bottom: 2.344vw;
}

.bmg_categories .container {
    max-width: 73.958vw;
    width: 100%;
}

.bmg_categories .row > div:not(.col-md-12) {
    width: 20%;
}

.bmg_categories h2 {
    color: #333333;
    font-size: 1.771vw;
    font-weight: 100;
    margin: 0;
    font-family: 'AvenirNext-Regular';
    margin-bottom: 1.5vw;
}

.bmg_categories .bmgc_body {
    box-shadow: 0px 2px 6px 0px rgba(0,0,0,0.16);
    -webkit-box-shadow: 0px 2px 6px 0px rgba(0,0,0,0.16);
    -moz-box-shadow: 0px 2px 6px 0px rgba(0,0,0,0.16);
    border-radius: 8px;
    padding: 10px;
}

.bmg_categories .bmgc_body img {
    max-height: 10.417vw;
    margin: auto;
    display: block;
}

.bmg_categories h3 {
    font-size: 0.833vw;
    font-weight: 100;
    font-family: 'AvenirNext-Regular';
    text-align: center;
    color: #4C5DC9;
}


/** HOMEPAGE CUSTOMIZED **/

.bmg_customized {
    background: #f0f0fd;
    padding-top: 2vw;
    padding-bottom: 2vw;
}

.bmg_customized .container {
    max-width: 73.958vw;
    width: 100%;
}

.bmg_customized .container .bmgc_outerbody {
    box-shadow: 0px 2px 6px 0px rgba(0,0,0,0.16);
    -webkit-box-shadow: 0px 2px 6px 0px rgba(0,0,0,0.16);
    -moz-box-shadow: 0px 2px 6px 0px rgba(0,0,0,0.16);
    background: #fff;
    border-radius: 8px;
    padding: .75vw;
}

.bmg_customized .row.bmgc_customblocks > div {
    padding-left: 0;
    padding-right: 0;
    width: 19%;
}

.bmg_customized .row.bmgc_customblocks {
    display: flex;
    justify-content: space-evenly;
}

.bmg_customized h2 {
    font-size: 1.146vw;
    font-family: 'AvenirNext-Regular';
    color: #333333;
    font-weight: 100;
    margin: 0 0 0.5vw;
    padding-left: .5vw;
}

.bmg_customized p {
    font-size: .729vw;
    font-family: AvenirNext-Regular;
    margin-bottom: 1.5vw;
    padding-left: .5vw;
}

.bmg_customized .bmgcust_body {
    background: #EDEDED;
    text-align: center;
    padding: 0.5vw 0px .25vw;
}

.bmg_customized h3 {
    margin-bottom: 0;
    font-size: 0.833vw;
    font-family: 'AvenirNext-Regular';
    font-weight: 100;
    text-align: center;
}

.bmg_customized .bmgcust_body img {
    mix-blend-mode: multiply;
    min-height: 4.688vw;
    max-height: 4.688vw;
}

/** HOMEPAGE BRANDS **/

.bmg_brands {
    padding-top: 1.5vw;
    padding-bottom: 2vw;
}

.bmg_brands .container {
    max-width: 73.958vw;
    width: 100%;
}

.bmg_brands .row > div:not(.col-md-12) {
    width: 20%;
}

.bmg_brands h2 {
    color: #333333;
    font-size: 1.771vw;
    font-weight: 100;
    margin: 0;
    font-family: 'AvenirNext-Regular';
    margin-bottom: 1vw;
}

.bmg_brands p {
    font-size: .729vw;
    font-family: AvenirNext-Regular;
    margin-bottom: 1.5vw;
}

.bmg_brands .bmgb_body {
    text-align: center;
}

.bmg_brands h3 {
    font-size: 0.885vw;
    font-family: 'AvenirNext-Regular';
    font-weight: 100;
    text-align: center;
    margin: 0;
}

.bmg_brands .bmgb_body img {
    height: 3.125vw;
    margin-bottom: .5vw;
}

/** HOMEPAGE TWO COL **/

.bmg_two_cols {
    padding-bottom: 2vw;
}

.bmg_two_cols .container {
    max-width: 73.958vw;
    width: 100%;
}

.bmg_two_cols .row > div:first-child {
    padding-right: 10px;
}

.bmg_two_cols .row > div:last-child {
    padding-left: 10px;
}

.bmg_two_cols .bmg_tc_col1, .bmg_two_cols .bmg_tc_col2 {
    min-height: 19.792vw;
    display: flex;
    align-items: flex-start;
    align-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    padding: 1.5vw;
    background-size: cover;
    border-radius: 8px;
}

.bmg_two_cols .bmg_tc_col1 > *, .bmg_two_cols .bmg_tc_col2 > * {width: 100%;display: block;}

.bmg_two_cols h3 {
    font-size: 1.146vw;
    font-family: 'AvenirNext-Regular';
    font-weight: 100;
    margin: 0;
}

.bmg_two_cols p {
    font-size: 0.833vw;
    max-width: 18.229vw;
    margin: 3vw 0;
}

.bmg_two_cols .bmg_tc_col2 p {
    max-width: 11.719vw;
    margin: 2vw 0;
}

.bmg_two_cols .bmg_button {
    max-width: 5.729vw;
    width: 100%;
    min-height: 2.5vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #4c5dc9;
    font-size: .729vw;
    color: #fff;
    border-radius: 4px;
}

/********************************************************
END HOMEPAGE STYLING
********************************************************/

/** FOOTER STYLING **/

.bmg_footer .container {
    max-width: 73.958vw;
    width: 100%;
}

.bmg_footer .bmgf_top_outer {
    background: #4C5DC9;
    padding-top: 3vw;
    padding-bottom: 3vw;
}
