/** GENERAL STYLING **/


/** HEADER STYLING **/

/********************************************************
HOMEPAGE STYLING
********************************************************/

/** HOMEPAGE BANNER **/

.bmg_banner {
    position: relative;
    background-size: cover;
}

.bmg_banner::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    background: rgba(88,88,88,0.33);
}

.bmg_banner .container {
    max-width: 73.958vw;
    width: 100%;
}

.bmg_banner .container .row {
    min-height: 18.750vw;
    display: flex;
    align-items: center;
}

.bmg_banner h1 {
    margin: 0;
    font-weight: 900;
    color: #fff;
    font-size: 2.500vw;
}

.bmg_banner p {
    font-size: 0.833vw;
    color: #fff;
    max-width: 27.083vw;
}

.bmg_banner .bmg_button {
    max-width: 5.729vw;
    width: 100%;
    min-height: 2.500vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #4C5DC9;
    font-size: 0.729vw;
    color: #fff;
    border-radius: 4px;
}

/** HOMEPAGE CATEGORIES **/

.bmg_categories .container {
    max-width: 73.958vw;
    width: 100%;
}

.bmg_categories .row > div:not(.col-md-12) {
    width: 20%;
}

/** HOMEPAGE CUSTOMIZED **/

.bmg_customized .container {
    max-width: 73.958vw;
    width: 100%;
}

.bmg_categories .row > div:not(.col-md-12) {
    width: 20%;
}

/** HOMEPAGE BRANDS **/

.bmg_brands .container {
    max-width: 73.958vw;
    width: 100%;
}

.bmg_categories .row > div:not(.col-md-12) {
    width: 20%;
}

/** HOMEPAGE TWO COL **/

.bmg_two_cols .container {
    max-width: 73.958vw;
    width: 100%;
}

/********************************************************
END HOMEPAGE STYLING
********************************************************/

/** FOOTER STYLING **/