<script src="https://unpkg.com/vue@next"></script>

{% paginate collection.products by 120 %}

<div class="bmg_main_collection">
  <div class="bmgmc_breadcrumbs">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          {% include 'breadcrumb' %}
        </div>
      </div>  
    </div>
  </div>
  <div class="bmgmc_main_body">
    <div class="container">
      <div class="row">
        <div class="col-md-3 bmg_sidebar_filter">
          <div class="bmg_sidebar_filter_body">
            {% include 'collection-tags' %}
          </div>
        </div>
        <div class="col-md-9 bmg_mainbody">
            <div class="bmgmc_sorting_view">
              {% include 'collection-sorting' %}
              <div class="bmgmc_grid_list">
                <div id="listView">

                </div>
                <div id="gridView">

                </div>
              </div>
            </div>
            <div class="bmg_collection_products">
              <div id="app">
                  <template v-if="collection">
                      <h1 v-html="collection.title"></h1>
                      <div v-for="product in collection.products">
                          <h3 v-html="product.title"></h3>
                          <p v-html="product.description"></p>
                          <p v-html="product.price"></p>
                      </div>
                  </template>
              </div>
              
              <script>
                const options = {
                  name: "Collection App",
                  data() {
                    return {
                      collection: null
                    }
                  },
                  methods: {
                    grabCollection() {
                      fetch('https://www.bmgind.com/collections/{{ collection.handle }}?view=json').then(response => response.json()).then(data => this.collection = data);
                    }
                  },
                  mounted() {
                    this.grabCollection();
                  }
                }
                const CollectionApp = Vue.createApp(options).mount('#app');

                var filter = document.querySelectorAll(".bmgfilter");

                for(var z = 0; z < filter.length; z++) {

                    var elem = filter[z];   

                    elem.onclick = function() {
                        var dataUrl = this.getAttribute('data-url');

                        const ajaxOptions = {
                          name: "Collection Ajax",
                          data() {
                            return {
                              collection: null
                            }
                          },
                          methods: {
                            grabCollectionAjax() {
                              fetch(window.location.href + '/' + dataUrl + '?view=json').then(response => response.json()).then(data => this.collection = data);
                            }
                          },
                          mounted() {
                            this.grabCollectionAjax();
                          }
                        }

                        const CollectionAjax = Vue.createApp(ajaxOptions).mount('#app');
                        
                        return false;
                    };

                }

              </script>
            </div>
            {% if paginate.pages > 1 %}
              {% include 'pagination' %}
            {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>
{% endpaginate %}
