<script src="https://unpkg.com/vue@next"></script>

{% paginate collection.products by 120 %}

<div class="bmg_main_collection">

  <div class="bmgmc_breadcrumbs">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          {% include 'breadcrumb' %}
        </div>
      </div>  
    </div>
  </div>

  <div id="ajaxCollection">
    <div class="container">
      <div class="row">
        <div class="col-md-3 collection_sidebar">
          <div class="bmg_sidebar_filter_body">
            {% include 'collection-tags' %}
          </div>
        </div>
        <div class="col-md-9 collection_body">
          <template v-if="collection">
              <h1 v-html="collection.title"></h1>
              <div v-for="product in collection.products">
                  <h3 v-html="product.title"></h3>
                  <p v-html="product.description"></p>
                  <p v-html="product.price"></p>
              </div>
          </template>
        </div>
      </div>
    </div>
  </div>

  <script>

    Vue.createApp({
      name: "Collection App",
      data() {
        return {
          collection: null
        }
      },
      methods: {
        grabCollection() {
          fetch('https://www.bmgind.com/collections/{{ collection.handle }}?view=json')
          .then(response => response.json())
          .then(data => this.collection = data);
        },
        updateProducts(event) {
          var dataAttribute = event.target.getAttribute('data-url');
          console.log(dataAttribute);
          fetch('https://www.bmgind.com/collections/{{ collection.handle }}/' + dataAttribute + '?view=json')
          .then(response => response.json())
          .then(data => this.collection = data);
          this.$forceUpdate();
        }
      },
      mounted() {
        this.grabCollection();
      }
    }).mount('#ajaxCollection');

  </script>

</div>
{% endpaginate %}
