<script src="https://unpkg.com/vue@next"></script>

{% paginate collection.products by 120 %}

<div class="bmg_main_collection">
  <div class="bmgmc_breadcrumbs">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          {% include 'breadcrumb' %}
        </div>
      </div>  
    </div>
  </div>
  <div class="bmgmc_main_body">
    <div class="container">
      <div class="row">
        <div class="col-md-3 bmg_sidebar_filter">
          <div class="bmg_sidebar_filter_body">
            {% include 'collection-tags' %}
          </div>
        </div>
        <div class="col-md-9 bmg_mainbody">
            <div class="bmgmc_sorting_view">
              {% include 'collection-sorting' %}
              <div class="bmgmc_grid_list">
                <div id="listView">

                </div>
                <div id="gridView">

                </div>
              </div>
            </div>
            <div class="bmg_collection_products">
              <div id="ajaxCollection">
                  <div id="clickMe" @click="greet">TEST CLICK</div>
                  <template v-if="collection">
                      <h1 v-html="collection.title"></h1>
                      <div v-for="product in collection.products">
                          <h3 v-html="product.title"></h3>
                          <p v-html="product.description"></p>
                          <p v-html="product.price"></p>
                      </div>
                  </template>
              </div>
              
              <script>

                Vue.createApp({
                  name: "Collection App",
                  data() {
                    return {
                      collection: null
                    }
                  },
                  methods: {
                    grabCollection() {
                      fetch('https://www.bmgind.com/collections/{{ collection.handle }}?view=json')
                      .then(response => response.json())
                      .then(data => this.collection = data);
                    },
                    greet(event) {
                      // `this` inside methods points to the current active instance
                      alert('Hello ' + this.name + '!')
                      // `event` is the native DOM event
                      if (event) {
                        alert(event.target.tagName)
                      }
                    }
                  },
                  mounted() {
                    this.grabCollection();
                  }
                }).mount('#ajaxCollection');

              </script>
            </div>
            {% if paginate.pages > 1 %}
              {% include 'pagination' %}
            {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>
{% endpaginate %}
