<script src="https://unpkg.com/vue@next"></script>

{% paginate collection.products by 120 %}

<div class="bmg_main_collection">

  <div class="bmgmc_breadcrumbs">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          {% include 'breadcrumb' %}
        </div>
      </div>  
    </div>
  </div>

  <div id="ajaxCollection">
    <div class="container">
      <div class="row">
        <div class="col-md-3 collection_sidebar">
          <div class="bmg_sidebar_filter_body">
            {% include 'collection-tags' %}
          </div>
        </div>
        <div class="col-md-9 collection_body">
          <template v-if="collection">  
            <div class="row">
              <div class="col-md-12">
                <div class="sortClear">
                  <div class="sortingList">
                    <div class="sortSelector">
                      <p>Sort by</p>
                      <select name="SortBy" id="SortBy">
                        <option value="best-selling">Best Selling</option>
                        <option value="manual">Featured</option>
                        <option value="price-ascending">Price, low to high</option>
                        <option value="price-descending">Price, high to low</option>
                        <option value="title-ascending">Alphabetically, A-Z</option>
                        <option value="title-descending">Alphabetically, Z-A</option>
                     </select>
                    </div>
                    <div class="collectionListType">
                      <ul>
                        <li>
                          <img src="">
                        </li>
                        <li>
                          <img src="">
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div v-for="product in collection.products" class="col-md-3">
                  <div class="collection_inner_body">
                    <img :src="product.image">
                    <h3 v-html="product.title"></h3>
                    <p v-html="product.price"></p>
                    <a :href="product.url">LEARN MORE</a>
                  </div>
              </div>
            </div>
          </template>
        </div>
      </div>
    </div>
  </div>

  <script>

    Vue.createApp({
      name: "Collection App",
      data() {
        return {
          collection: null
        }
      },
      methods: {
        grabCollection() {
          fetch('https://www.bmgind.com/collections/{{ collection.handle }}?view=json')
          .then(response => response.json())
          .then(data => this.collection = data);
        },
        updateProducts(event) {
          var dataUrl = 'https://www.bmgind.com/collections/{{ collection.handle }}/' + event + '?view=json';
          fetch(dataUrl)
          .then(response => response.json())
          .then(data => this.collection = data);
          this.$forceUpdate();
          console.log(dataUrl);
        }
      },
      mounted() {
        this.grabCollection();
      }
    }).mount('#ajaxCollection');

  </script>

</div>
{% endpaginate %}
